<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Answer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.answer %></td>
        <td><%= link_to 'Show', test_question_path(@test, question) %></td>
        <td><%= link_to 'Edit', edit_test_question_path(@test, question) %></td>
        <td><%= link_to 'Destroy', [@test, question], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_test_question_path(@test)%>
