<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Choices:</strong><br />
  1) <%= @question.answer_one %><br />
  2) <%= @question.answer_two %><br />
  3) <%= @question.answer_three %><br />
  4) <%= @question.answer_four %><br />
  5) <%= @question.answer_five %><br />
  Correct Answer: <%= @question.correct_answer %>
</p>

<% if policy(@question).update? %>
<%= link_to 'Edit', edit_test_question_path(@test, @question) %> |
<% end %>

<%= link_to 'Back', test_questions_path(@test) %>
