<div class="well-center">
    <h3 style="text-align:center"><b>Offer</b>Letter</h3>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.email_field :email, class: "form-control", :autofocus => true, :placeholder => "email" %></div>

  <div><%= f.password_field :password, class: "form-control", :placeholder => "password" %></div>

  <div><%= f.password_field :password_confirmation, class: "form-control", :placeholder => "password confirmation" %></div>

  <div><%= f.submit "Sign up", class: "btn btn-block" %></div>
  <% end %>

<li class="divider"></li>

<%= render "devise/shared/links" %>

</div>
