<%= semantic_form_for @report_card do |f| %>
  <%= f.inputs do %>
  <div class="col-lg-6">
    <%= f.input :test_id, class: "input-control" %>
    <%= f.input :user_id %>
    <%= f.input :grade %>
    <%= f.input :name %>
    <%= f.input :finished %>
    <%= f.input :current_question %>
  <% end %>
</div>
  <%= f.actions do %>
    <%= f.action :submit, :as => :input %>
  <% end %>
<% end %>
