<h1>Listing report_cards</h1>

<table>
  <thead>
    <tr>
      <th>Test</th>
      <th>User</th>
      <th>Grade</th>
      <th>Name</th>
      <th>Finished</th>
      <th>Current question</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @report_cards.each do |report_card| %>
      <tr>
        <td><%= report_card.test_id %></td>
        <td><%= report_card.user_id %></td>
        <td><%= report_card.grade %></td>
        <td><%= report_card.name %></td>
        <td><%= report_card.finished %></td>
        <td><%= report_card.current_question %></td>
        <td><%= link_to 'Show', report_card %></td>
        <td><%= link_to 'Edit', edit_report_card_path(report_card) %></td>
        <td><%= link_to 'Destroy', report_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report card', new_report_card_path %>
