<div class="container">
  <div class="well-test col-md-6">
    <%= gravatar_for @user, "gravatar" %>

    <div><h1><%= @user.name %></h1></div>
    <div><h4>Email: <%= @user.email %></h4></div>
    <div><h4>Level: <%= @user.level %></h4></div>
    <div><h4>Experience: <%= @user.experience %> <i class='fa fa-star'></i></h4></div>
    <div><h4>Lives: <%= @user.life %> <i class='fa fa-heart'></i></h4><br/ ><br/ >

    <%= link_to "Update Profile", edit_user_path, class: "btn btn-info" %>
    <%= link_to "Change Avatar", 'http://en.gravatar.com/', class: "btn btn-primary" %>
    <br/ >
    <br/ >
    <h3>Report Card</h3>
    <div class="bs-example table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Question</th>
            <th>Test Name</th>
            <% if current_user.present? %>
            <th>Score</th>
            <% end %>
          </tr>
        </thead>
        <% @user.solutions.each do |solution| %>
        <tbody>
          <tr>
            <td><%= solution.question.exam.name %></td>
            <td><%= solution.question.content %></td>
            <td><% if solution.correct %>
              Correct<br/ >
              <% else %>
              Incorrect<br/ >
            </td>
            <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
