<%= form_for(@exam) do |f| %>
<% if @exam.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

  <ul>
    <% @exam.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="field">
  <%= f.text_field :name, class:"form-control", placeholder: "name" %>
</div>

<div class="field pull-right">
  <%= f.label :experience, "Experience points" %>
  <%= f.number_field :experience, class:"form-control", placeholder: "Values from 1 to 1000"  %>
</div>


<%= f.fields_for :questions do |builder| %>
<%= render 'question_fields', f: builder %>
<% end %>

<%= link_to_add_fields "Add Question", f, :questions %>

<div class="actions">
  <%= link_to 'Back', exams_path, class: "btn btn-default form-back" %><%= f.submit "Submit", class: "btn btn-primary form-back" %>
</div>
<% end %>
