<body id="mountain">
<div class='container'>
  <div class='row'>
    <% @exams.each do |exam| %>


    <div class='col-lg-4'>
      <div class='well'>
        <h3><%= exam.name %></h3>
        <h4>Rewards:</h4>
        <% if current_user.present? %>
        <h4>Score: <%= exam.generate_score(current_user) %> </h4>
        <h4>Experience: <%= exam.experience %> </h4>
        <% if exam.next_question(current_user) %>
        <%= link_to 'Do Quest', new_question_solution_path(exam.questions.first), class: "btn btn-info" %>
        <% else %>
        <%= link_to 'Done', '', class: "btn btn-warning" %>
        <% end %>

        <% if policy(exam).update? %>
        <%= link_to 'Edit', edit_exam_path(exam), class: "btn btn-primary" %>
        <% end %>
        <% if policy(exam).destroy? %>
        <%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <% end %>
      </div>

      <% end %>
    </div>
    <% end %>
  </div>

</div>
</body>
