<h1>Listing tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Topic</th>
      <th>Difficulty</th>
      <th>Random</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
    <tr>
      <td><%= test.name %></td>
      <td><%= test.description %></td>
      <td><%= test.topic %></td>
      <td><%= test.difficulty %></td>
      <td><%= test.random %></td>
      <td><%= link_to 'Show', test, class: "btn btn-success" %></td>
      <% if policy(test).update? %>
      <td><%= link_to 'Edit Test', edit_test_path(test), class: "btn btn-primary" %></td>
      <% end %>
      <% if policy(test).destroy? %>
      <td><%= link_to 'Delete Test', test, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'New Test', new_test_path, class: "btn btn-default" %>
<% end %>
