<div class='container'>
  <% @tests.each do |test| %>
    <div class='well-middle col-lg-4 col-lg-4'>
      <h3><%= test.name %></h3>
      <h4>Number of Questions: <%= test.questions.size %> </h4>
      <% if current_user.present? %>
        <h4>Your Score: <%= test.generate_score(current_user) %> </h4>

      <% if test.next_question(current_user) %>
        <%= link_to 'Take Test', new_question_solution_path(test.questions.sample), class: "btn btn-info" %>
      <% else %>
          <%= link_to 'Taken', '', class: "btn btn-warning" %>
          <% end %>

          <% if policy(test).update? %>
            <%= link_to 'Edit', edit_test_path(test), class: "btn btn-primary" %>
          <% end %>
          <% if policy(test).destroy? %>
          <%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
          <% end %>
    </div>
  <% end %>
</div>

