<p id="notice"><%= notice %></p>

<p>
  <strong>Test:</strong>
  <%= @report.test_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Grade float:</strong>
  <%= @report.grade_float %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
