<footer class="navbar navbar-fixed-bottom footer">
  <div class="container footer-image">
    <div class="row">
      <div class="col-md-2">
        <div class="list group">
          <a class="list-group-item" <%= link_to 'Create an Account', new_user_session_path %></a>
          <a class="list-group-item" <%= link_to 'Privacy Policy', "#" %></a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="list-group">
          <a class="list-group-item" <%= link_to 'Contact Us', "#" %></a>
          <a class="list-group-item" <%= link_to 'About', page_path('about') %></a>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-8">
        <div class="list-group">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h2 class="panel-title">
                <%= link_to 'Offer Letter', root_path %>
              </h2>
            </div>
            <div class="panel-body">
              Gamify the technical interview prep through coding challenges and progress updates.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
