<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'OfferLetter', root_path, :class => "navbar-brand"%>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Learn', '#' %>
        </li>
        <li>
          <%= link_to 'Practice', '#' %>
        </li>
        <li>
          <%= link_to 'About', page_path('about') %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user.present? %>
        <li class="<%= 'active' if current_page?('#')%> dropdown">
          <%= link_to (current_user.name.to_s + '<b class="caret"></b>').html_safe, @user, :id => 'setupdrop', :class => "dropdown-toggle nav-link", :data => {:toggle => "dropdown"} %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Profile", user_path(current_user) %></li>
            <li><%= link_to "Report Card", report_cards_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li class="divider"></li>
            <% if current_user.admin? %>
            <li><%= link_to 'Create Test', new_test_path %></li>
            <% end %>
            <li><%= link_to "Help", '#' %></li>
          </ul>
        </li>
        <% else %>
        <!-- Button trigger modal -->
        <li><%= link_to "Sign In", "#myModal", "data-toggle" => "modal" %></li>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <%= render "layouts/modals/signin" %>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <li><%= link_to "Create Account", "#myModal1", "data-toggle" => "modal" %></li>
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <%= render "layouts/modals/signup" %>
                <% end %>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </ul>
    </div>
  </div>
</div>
