<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'OfferLetter', root_path, :class => "navbar-brand"%>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Learn', '#' %>
        </li>
        <li>
          <%= link_to 'Practice', '#' %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Sign In', '#' %>
        </li>
        <li>
          <%= link_to 'Create Account', '#' %>
        </li>
      </ul>
    </div>
  </div>
</div>
